<div class="getstarted-page">
  <h4 style="text-align: center;"><span style="color: #881d1d;"><strong><em>“A Great Box Is In The Small Details. So Let Us Get to Know You.”</em> ♥</strong></span></h4>
  <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&ndash;<strong>Valeria B</strong><em>.</em>, M<span style="color: #881d1d;">C</span>B Stylist.</p>
  <hr>
  <h4 style="text-align: center;">Fill-Out This Brief Questionnaire to Create Your Profile</h4>
  <h4 style="text-align: center;">Your Stylist Will Use This Information to Create Your Personalized Box</h4>
  <form novalidate="novalidate" class="wpcf7-form" method="post" action="" id="mcbquestionaireform">
    <div id="startedform">
      <div class="boxsep">
        <p>1. What is your body type?</p>
        <div class="radiooption selectedbox"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/hourglassbodyshape.png?5284697313286901453"><span class="wpcf7-form-control-wrap radio-51"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input type="radio" value="Hourglass" name="body_type">&nbsp;<span class="wpcf7-list-item-label">Hourglass</span></span></span></span></label></div>
        <div class="radiooption selectedbox"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/pearbodyshape.png?5506801859837414221"><span class="wpcf7-form-control-wrap radio-51"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input type="radio" value="Pear" name="body_type">&nbsp;<span class="wpcf7-list-item-label">Pear</span></span></span></span></label></div>
        <div class="radiooption selectedbox"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/slenderbodyshape.png?12061945179165084970"><span class="wpcf7-form-control-wrap radio-51"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input type="radio" value="Slender" name="body_type">&nbsp;<span class="wpcf7-list-item-label">Slender</span></span></span></span></label></div>
        <div class="radiooption selectedbox"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/heartbodyshape.png?1487183747087745874"><span class="wpcf7-form-control-wrap radio-51"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input type="radio" value="Heart" name="body_type">&nbsp;<span class="wpcf7-list-item-label">Heart</span></span></span></span></label></div>
      </div>
      <div class="boxsep hide-box">
        <p>2. What is your height?</p>
        <p>
          <span class="wpcf7-form-control-wrap menu-899">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="height_feet">
              <option value="">---</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </span>
          <strong>Feet</strong> &nbsp; 
          <span class="wpcf7-form-control-wrap menu-502">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="height_inches">
              <option value="">---</option>
              <option class="selectedbox" value="00">00</option>
              <option class="selectedbox" value="01">01</option>
              <option class="selectedbox" value="02">02</option>
              <option class="selectedbox" value="03">03</option>
              <option class="selectedbox" value="04">04</option>
              <option class="selectedbox" value="05">05</option>
              <option class="selectedbox" value="06">06</option>
              <option class="selectedbox" value="07">07</option>
              <option class="selectedbox" value="08">08</option>
              <option class="selectedbox" value="09">09</option>
              <option class="selectedbox" value="10">10</option>
              <option class="selectedbox" value="11">11</option>
            </select>
          </span>
          <strong>Inches</strong>
        </p>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>3. Tops</p>
        <p>
          <span class="wpcf7-form-control-wrap menu-955">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="top_size">
              <option value="">---</option>
              <option class="selectedbox" value="XS">XS</option>
              <option class="selectedbox" value="S">S</option>
              <option class="selectedbox" value="M">M</option>
              <option class="selectedbox" value="L">L</option>
              <option class="selectedbox" value="XL">XL</option>
              <option class="selectedbox" value="XXL">XXL</option>
            </select>
          </span>
        </p>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>4. Dresses</p>
        <p>
          <span class="wpcf7-form-control-wrap menu-911">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="dress_size">
              <option value="">---</option>
              <option class="selectedbox" value="0">0</option>
              <option class="selectedbox" value="2">2</option>
              <option class="selectedbox" value="4">4</option>
              <option class="selectedbox" value="6">6</option>
              <option class="selectedbox" value="8">8</option>
              <option class="selectedbox" value="10">10</option>
              <option class="selectedbox" value="12">12</option>
              <option class="selectedbox" value="14">14</option>
              <option class="selectedbox" value="16">16</option>
            </select>
          </span>
        </p>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>5. Pants &amp; Skirts</p>
        <p>
          <span class="wpcf7-form-control-wrap menu-138">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="paint_size">
              <option value="">---</option>
              <option class="selectedbox" value="0">0</option>
              <option class="selectedbox" value="2">2</option>
              <option class="selectedbox" value="4">4</option>
              <option class="selectedbox" value="6">6</option>
              <option class="selectedbox" value="8">8</option>
              <option class="selectedbox" value="10">10</option>
              <option class="selectedbox" value="12">12</option>
              <option class="selectedbox" value="14">14</option>
              <option class="selectedbox" value="16">16</option>
            </select>
          </span>
        </p>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>6. Jeans</p>
        <p>
          <span class="wpcf7-form-control-wrap menu-685">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="jeans_size">
              <option value="">---</option>
              <option class="selectedbox" value="25">25</option>
              <option class="selectedbox" value="26">26</option>
              <option class="selectedbox" value="27">27</option>
              <option class="selectedbox" value="28">28</option>
              <option class="selectedbox" value="29">29</option>
              <option class="selectedbox" value="30">30</option>
              <option class="selectedbox" value="31">31</option>
              <option class="selectedbox" value="32">32</option>
            </select>
          </span>
        </p>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>7. Jean Inseam</p>
        <p>
          <span class="wpcf7-form-control-wrap menu-989">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="jeaninseam_size">
              <option value="">---</option>
              <option class="selectedbox" value="28&quot;">28"</option>
              <option class="selectedbox" value="30&quot;">30"</option>
              <option class="selectedbox" value="32&quot;">32"</option>
              <option value="34&quot;">34"</option>
              <option class="selectedbox" value="36&quot;">36"</option>
            </select>
          </span>
        </p>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>8. Bra Size</p>
        <p>
          <span class="wpcf7-form-control-wrap menu-999">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="bra_size1">
              <option value="">---</option>
              <option value="30">30</option>
              <option value="32">32</option>
              <option class="selectedbox" value="34">34</option>
              <option value="36">36</option>
              <option value="38">38</option>
              <option value="40">40</option>
            </select>
          </span>
          <span class="wpcf7-form-control-wrap menu-387">
            <select aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" name="bra_size2">
              <option value="">---</option>
              <option class="selectedbox" value="A">A</option>
              <option class="selectedbox" value="B">B</option>
              <option class="selectedbox" value="C">C</option>
              <option class="selectedbox" value="D">D</option>
              <option class="selectedbox" value="DD">DD</option>
            </select>
          </span>
        </p>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>9. Your Weight (optional)</p>
        <p><span class="wpcf7-form-control-wrap text-741"><input type="text" aria-invalid="false" class="wpcf7-form-control wpcf7-text" size="40" value="" name="body_weight"></span>
        </p>
        <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_body_weight" type="button" value="Next"></span>
      </div>
      <div class="boxsep hide-box">
        <p>10. What is your skin tone?</p>
        <div class="radiooption"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/LightSkintones.png?7151287570030261302"><span class="wpcf7-form-control-wrap radio-52"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input class="selectedbox" type="radio" checked="checked" value="Light Tones" name="skin_tone">&nbsp;<span class="wpcf7-list-item-label">Light Tones</span></span></span></span></label></div>
        <div class="radiooption"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/MidSkintones.png?8223641924147077962"><span class="wpcf7-form-control-wrap radio-52"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input class="selectedbox" type="radio" checked="checked" value="Mid Tones" name="skin_tone">&nbsp;<span class="wpcf7-list-item-label">Mid Tones</span></span></span></span></label></div>
        <div class="radiooption"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/BronzeSkintones.png?7449638743371305919"><span class="wpcf7-form-control-wrap radio-52"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input class="selectedbox" type="radio" checked="checked" value="Bronze Tones" name="skin_tone">&nbsp;<span class="wpcf7-list-item-label">Bronze Tones</span></span></span></span></label></div>
        <div class="radiooption"><label><img class="bodyimg" src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/DarkSkintones.png?14453231757231161952"><span class="wpcf7-form-control-wrap radio-52"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last"><input class="selectedbox" type="radio" checked="checked" value="Dark Tones" name="skin_tone">&nbsp;<span class="wpcf7-list-item-label">Dark Tones</span></span></span></span></label></div>
        <span style="float: left; width: 100%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
      </div>
      <div class="boxsep hide-box">
        <p>11. What features do you like to accentuate?</p>
        <p><span class="wpcf7-form-control-wrap checkbox-729"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input class="selectedbox" id="cb1" type="checkbox" value="Arms" name="add_feature[]">&nbsp;<label class="wpcf7-list-item-label" for="cb1">Arms</label></span><span class="wpcf7-list-item"><input id="cb2" class="selectedbox" type="checkbox" value="Legs" name="add_feature[]">&nbsp;<label for="cb2" class="wpcf7-list-item-label">Legs</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb3" type="checkbox" value="Shoulders" name="add_feature[]">&nbsp;<label for="cb3" class="wpcf7-list-item-label">Shoulders</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb4" type="checkbox" value="Cleavage" name="add_feature[]">&nbsp;<label for="cb4" class="wpcf7-list-item-label">Cleavage</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb5" type="checkbox" value="Midsection" name="add_feature[]">&nbsp;<label for="cb5" class="wpcf7-list-item-label">Midsection</label></span><span class="wpcf7-list-item last"><input class="selectedbox" type="checkbox" id="cb6" value="Rear" name="add_feature[]">&nbsp;<label for="cb6" class="wpcf7-list-item-label">Rear</label></span></span></span></p>
        <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_add_feature" type="button" value="Next"></span>
      </div>
      <div class="boxsep hide-box">
        <p>12. What is your closet lacking and what are you currently most interested in receiving? Be as detailed as possible, we might have exactly what you're looking for! (ie. Shorts, Blouses, Pants, Skirts, Rompers, Day Dresses, etc.)</p>
        <div class="q11"><span class="wpcf7-form-control-wrap textarea-9177"><textarea aria-invalid="false" class="wpcf7-form-control wpcf7-textarea" rows="10" cols="40" name="your_like"></textarea></span></div>
        <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_your_like" type="button" value="Next"></span>
      </div>
      <div class="boxsep hide-box">
        <p>13. What are you NOT interested in receiving?</p>
        <p><span class="wpcf7-form-control-wrap checkbox-114"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input class="selectedbox" id="cb7" type="checkbox" value="Dresses" name="your_dislike[]">&nbsp;<label for="label" class="wpcf7-list-item-label">Dresses</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb8" type="checkbox" value="Skirts" name="your_dislike[]">&nbsp;<label for="cb8" class="wpcf7-list-item-label">Skirts</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb9" type="checkbox" value="Shorts" name="your_dislike[]">&nbsp;<label for="cb9" class="wpcf7-list-item-label">Shorts</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb10" type="checkbox" value="Jeans" name="your_dislike[]">&nbsp;<label for="cb10" class="wpcf7-list-item-label">Jeans</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb11" type="checkbox" value="Sweaters" name="your_dislike[]">&nbsp;<label for="cb11" class="wpcf7-list-item-label">Sweaters</label></span><span class="wpcf7-list-item"><input class="selectedbox" id="cb12" type="checkbox" value="Pants" name="your_dislike[]">&nbsp;<label for="cb12" class="wpcf7-list-item-label">Pants</label></span><span class="wpcf7-list-item last"><input class="selectedbox" id="cb13" type="checkbox" value="Sleeveless Articles" name="your_dislike[]">&nbsp;<label for="cb13" class="wpcf7-list-item-label">Sleeveless Articles</label></span></span></span></p>
        <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_your_dislike" type="button" value="Next"></span>
      </div>
      <div class="boxsep hide-box">
        <p>14. Clothing colors I stay away from</p>
        <p><span class="wpcf7-form-control-wrap checkbox-26"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input class="selectedbox" id="cb21" type="checkbox" value="Blues" name="cloth_color[]">&nbsp;<label class="wpcf7-list-item-label" for="cb21">Blues</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Purples" name="cloth_color[]" id="cb22">&nbsp;<label class="wpcf7-list-item-label" for="cb22">Purples</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Greens" name="cloth_color[]" id="cb23">&nbsp;<label class="wpcf7-list-item-label" for="cb23">Greens</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Reds" name="cloth_color[]" id="cb24">&nbsp;<label class="wpcf7-list-item-label" for="cb24">Reds</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Blacks" name="cloth_color[]" id="cb25">&nbsp;<label class="wpcf7-list-item-label" for="cb25">Blacks</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Oranges" name="cloth_color[]" id="cb26">&nbsp;<label class="wpcf7-list-item-label" for="cb26">Oranges</label></span></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Yellows" name="cloth_color[]" id="cb27">&nbsp;<label class="wpcf7-list-item-label" for="cb27">Yellows</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Browns" name="cloth_color[]" id="cb28">&nbsp;<label class="wpcf7-list-item-label" for="cb28">Browns</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Grays" name="cloth_color[]" id="cb29">&nbsp;<label class="wpcf7-list-item-label" for="cb29">Grays</label></span><span class="wpcf7-list-item last"><input class="selectedbox" type="checkbox" value="Whites" name="cloth_color[]" id="cb30">&nbsp;<label class="wpcf7-list-item-label" for="cb30">Whites</label></span></span></p>
    <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_cloth_color" type="button" value="Next"></span>
    </div>
  <div class="boxsep hide-box">
    <p>15. Prints I'm NOT interested in</p>
    <p><span class="wpcf7-form-control-wrap checkbox-337"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input class="selectedbox" type="checkbox" value="Floral" name="dislike_print[]" id="cb31">&nbsp;<label class="wpcf7-list-item-label" for="cb31">Floral</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Plaid" name="dislike_print[]" id="cb32">&nbsp;<label class="wpcf7-list-item-label" for="cb32">Plaid</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Polka Dots" name="dislike_print[]" id="cb33">&nbsp;<label class="wpcf7-list-item-label" for="cb33">Polka Dots</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Striped" name="dislike_print[]" id="cb34">&nbsp;<label class="wpcf7-list-item-label" for="cb34">Striped</label></span><span class="wpcf7-list-item last"><input class="selectedbox" type="checkbox" value="Animal Prints" name="dislike_print[]" id="cb35">&nbsp;<label class="wpcf7-list-item-label" for="cb35">Animal Prints</label></span></span></span></p>
    <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_dislike_print" type="button" value="Next"></span>
  </div>
  <div class="boxsep hide-box">
    <p>16. I am mostly interested in clothes for</p>
    <p><span class="wpcf7-form-control-wrap checkbox-946"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required"><span class="wpcf7-list-item first"><input class="selectedbox" type="checkbox" value="Work" name="interested_clothes[]" id="cb36">&nbsp;<label class="wpcf7-list-item-label" for="cb36">Work</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="A Night Out" name="interested_clothes[]" id="cb37">&nbsp;<label class="wpcf7-list-item-label" for="cb37">A Night Out</label></span><span class="wpcf7-list-item last"><input class="selectedbox" type="checkbox" value="Everyday" name="interested_clothes[]" id="cb38">&nbsp;<label class="wpcf7-list-item-label" for="cb38">Everyday</label></span></span></span></p>
    <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_interested_clothes" type="button" value="Next"></span>
  </div>
  <div class="boxsep hide-box">
    <p>17. Which colors do you like most?</p>
    <p><span class="wpcf7-form-control-wrap checkbox-126"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input class="selectedbox" type="checkbox" value="Colors: Red, Blue, Purple, Green, etc." name="fav_color[]" id="cb39">&nbsp;<label class="wpcf7-list-item-label" for="cb39">Colors: Red, Blue, Purple, Green, etc.</label></span><span class="wpcf7-list-item last"><input class="selectedbox" type="checkbox" value="Neutrals: White, Gray, Black, Beige, etc." name="fav_color[]" id="cb40">&nbsp;<label class="wpcf7-list-item-label" for="cb40">Neutrals: White, Gray, Black, Beige, etc.</label></span></span></span></p>
    <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_fav_color" type="button" value="Next"></span>
  </div>
  <div class="boxsep hide-box">
    <p>18. How adventurous are you with your style?</p>
    <p>
      <span class="wpcf7-form-control-wrap checkbox-776"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input class="selectedbox" type="checkbox" value="Very: I live to try new things" name="your_style[]" id="cb41">&nbsp;<label class="wpcf7-list-item-label" for="cb41">Very: I live to try new things</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="Somewhat: I like to experiment new trends and styles" name="your_style[]" id="cb42">&nbsp;<label class="wpcf7-list-item-label" for="cb42">Somewhat: I like to experiment new trends and styles</label></span><span class="wpcf7-list-item"><input class="selectedbox" type="checkbox" value="On Occasion: If the occasion or my mood is right, I'll go outside my norm" name="your_style[]" id="cb43">&nbsp;<label class="wpcf7-list-item-label" for="cb43">On Occasion: If the occasion or my mood is right, I'll go outside my norm</label></span></span><span class="wpcf7-list-item last"><input class="selectedbox" type="checkbox" value="Not at all: I like to keep my style as is" name="your_style[]" id="cb44">&nbsp;<label class="wpcf7-list-item-label" for="cb44">Not at all: I like to keep my style as is</label></span></span>
    </p>
    <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_your_style" type="button" value="Next"></span>
  </div>
  <div class="boxsep hide-box">
    <p>19. Tell us in Your Own Words about your style:</p>
    <p><span class="wpcf7-form-control-wrap textarea-977"><textarea aria-invalid="false" class="wpcf7-form-control wpcf7-textarea" rows="10" cols="40" name="your_comments"></textarea></span></p>
    <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" type="button" value="Next"></span>
  </div>
  <div class="boxsep hide-box">
    <p>The more we know about you, the better your box! Link us your profiles <img draggable="false" class="emoji" alt="🙂" src="https://s.w.org/images/core/emoji/2/svg/1f642.svg"></p>
    <div class="innersocial"><i aria-hidden="true" class="fa fa-facebook-square"></i> <span class="wpcf7-form-control-wrap text-28"><input type="text" placeholder="Facebook" aria-invalid="false" class="wpcf7-form-control wpcf7-text" size="40" value="" name="facebook"></span></div>
    <div class="innersocial"><i aria-hidden="true" class="fa fa-instagram"></i> <span class="wpcf7-form-control-wrap text-139"><input type="text" placeholder="Instagram" aria-invalid="false" class="wpcf7-form-control wpcf7-text" size="40" value="" name="instagram"></span></div>
    <div class="innersocial"><i aria-hidden="true" class="fa fa-linkedin-square"></i> <span class="wpcf7-form-control-wrap text-402"><input type="text" placeholder="LinkedIn" aria-invalid="false" class="wpcf7-form-control wpcf7-text" size="40" value="" name="linkedIn"></span></div>
    <div class="innersocial"><i aria-hidden="true" class="fa fa-pinterest-square"></i> <span class="wpcf7-form-control-wrap text-920"><input type="text" placeholder="Pinterest" aria-invalid="false" class="wpcf7-form-control wpcf7-text" size="40" value="" name="pinterest"></span></div>
    <span style="width: 100%; float: left;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"><input class="nextbtn selectedbox" id="next_social" type="button" value="Next"></span>
  </div>
  <div class="boxsep hide-box infouser">
    <div class="firstname">First Name</div>
    <p><span class="wpcf7-form-control-wrap text-149"><input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" size="40" value="" name="fname" required></span></p>
    <div class="lastname">Last Name</div>
    <p><span class="wpcf7-form-control-wrap text-742"><input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" size="40" value="" name="lname" required></span></p>
    <div>Your E-mail Address</div>
    <p><span class="wpcf7-form-control-wrap text-756"><input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" size="40" value="" name="email" required /></span></p>
    <div class="bday">Your Birthday<br></div>
    <p><span class="wpcf7-form-control-wrap text-684"><input type="text" placeholder="xx/xx/xxxx" aria-invalid="false" class="wpcf7-form-control wpcf7-text" size="40" value="" name="bod"></span></p>
    <span style="float: left; width: 61%;"><input class="previousbtn selectedbox" id="previous_height" type="button" value="Previous"></span>
    <span style="width: 100%; float: right;"><input type="submit" id="mcbquestionairebutton" class="wpcf7-form-control wpcf7-submit" value="Send"><img class="ajax-loader" src="https://www.mycrimsonbox.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="display:none;" ></span>
  </div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div>
</form>
</div>
<script>
  $(document).ready(function() {
    $(document).on("change", "input[name='body_type']", function() {
      changeQuestion($(this));
    });

    $(document).on("change", "select[name='height_feet'],select[name='height_inches']", function() {
      if($("select[name='height_feet']").val() != "" && $("select[name='height_inches']").val() != "") {
        changeQuestion($(this));
      }
    });
    $(document).on("change", "select[name='top_size']", function() {
      changeQuestion($(this));
    });
    $(document).on("change", "select[name='dress_size']", function() {
      changeQuestion($(this));
    });
    $(document).on("change", "select[name='paint_size']", function() {
      changeQuestion($(this));
    });
    $(document).on("change", "select[name='jeans_size']", function() {
      changeQuestion($(this));
    });
    $(document).on("change", "select[name='jeaninseam_size']", function() {
      changeQuestion($(this));
    });
    $(document).on("change", "select[name='bra_size1'],select[name='bra_size2']", function() {
      if($("select[name='bra_size1']").val() != "" && $("select[name='bra_size2']").val() != "") {
        changeQuestion($(this));
      }
    });
    $(document).on("click", "#next_body_weight", function() {
      changeQuestion($(this));
    });
    $(document).on("change", "input[name='skin_tone']", function() {
      changeQuestion($(this));
    });
    $(document).on("click", "#next_add_feature", function() {
      changeQuestion($(this));
    });
    $(document).on("change", "textarea[name='your_like']", function() {
      changeQuestion($(this));
    });
    
    $(document).on("click", "#next_your_dislike", function() {
      if($("input[name='your_dislike[]']").is(":checked")) {
    	  changeQuestion($(this));
      }
    });
    $(document).on("click", "#next_cloth_color", function() {
      if($("input[name='cloth_color[]']").is(":checked")) {
    	  changeQuestion($(this));
      }
    });
    $(document).on("click", "#next_dislike_print", function() {
      if($("input[name='dislike_print[]']").is(":checked")) {
    	  changeQuestion($(this));
      }
    });
    $(document).on("click", "#next_interested_clothes", function() {
      if($("input[name='interested_clothes[]']").is(":checked")) {
    	  changeQuestion($(this));
      }
    });
    $(document).on("click", "#next_fav_color", function() {
      if($("input[name='fav_color[]']").is(":checked")) {
    	  changeQuestion($(this));
      }
    });
    $(document).on("click", "#next_your_style", function() {
      if($("input[name='your_style[]']").is(":checked")) {
      changeQuestion($(this));
      }
    });
    $(document).on("change", "textarea[name='your_comments']", function() {
      changeQuestion($(this));
    });
    $(document).on("click", "#next_social", function() {
      changeQuestion($(this));
    });
    $(document).on("click", "#previous_height", function() {
      previousQuestion($(this));
    });

    $(document).on("click", "#mcbquestionairebutton", function(e){
      e.preventDefault();
      $(".error_mgs").remove();
      var fname = $("input[name='fname']").val();
      var lname = $("input[name='lname']").val();
      var email = $("input[name='email']").val();
      var bod = $("input[name='bod']").val();

      if(fname == ""){
        $("input[name='fname']").before('<div class="error_mgs">The field is required.</div>');
      }
      if(lname == ""){
        $("input[name='lname']").before('<div class="error_mgs">The field is required.</div>');
      }
      if(email == ""){
        $("input[name='email']").before('<div class="error_mgs">The field is required.</div>');
      }
      if(bod == ""){
        $("input[name='bod']").before('<div class="error_mgs">The field is required.</div>');
      }

      if(fname != "" && lname != "" && email != "" && bod != ""){
        $(".ajax-loader").show();
        $.ajax({
          type: "POST",
          url: "https://www.shopifyappexperts.com/shopifymcbquestionaire/addquestionairecode.php",
          data: $("#mcbquestionaireform").serializeArray(),
          success: function(response) {
            if(response == "done"){
              $.ajax({
                type: 'POST',
                url: '/cart/add.js',
                data: {id: "31674259332", quantity: 1},
                dataType: 'json',
                success: function() {
                  $.ajax({
                    url: '/cart.js',
                    type: 'GET',
                    data: 1,
                    dataType: 'json',
                    success: function(response) {
                      if(response.token != "" && response.token != null) {
                        var cart_token = response.token;
                        window.location.href = "https://checkout.rechargeapps.com/r/checkout?myshopify_domain=mcb-com.myshopify.com&cart_token="+cart_token;
                      }
                    }
                  });
                }
              });
              $(".ajax-loader").hide();

            }else{
              alert("Please try again.");
              $(".ajax-loader").hide();
            }
          }
        });
      }
    });

  });

  function changeQuestion(obj) {
    obj.parents(".boxsep").fadeOut(500).delay(500).next(".boxsep").fadeIn(500);
  }
  function previousQuestion(obj) {
    obj.parents(".boxsep").fadeOut(500).delay(500).prev(".boxsep").fadeIn(500);
  }
</script>