<section id="homepage-howitworks" class="howitworks">
    <div class="row" id="home">
    	<h1 class="section-title">How it Works</h1>
      <div class="section-content">
      	<div class="sow-features-list sow-features-responsive">
          <div class="sow-features-feature sow-features-feature-last-row">
            <div class="sow-icon-container sow-container-none">
              <span class="sow-icon1"></span>
            </div>
            <div class="textwidget">
              <h5>1. Tell Us Your Style</h5>
              <p>Create your profile by filling out our brief questionnaire. Tell us your preferences, what your closet’s lacking, and what you look forward to receiving. Link us your social media so our stylists can pinpoint your look.</p>
            </div>
          </div>
          <div class="sow-features-feature sow-features-feature-last-row">
            <div class="sow-icon-container sow-container-none">
              <span class="sow-icon2"></span>
            </div>
            <div class="textwidget">
              <h5>2. We Curate and Ship Your Box</h5>
              <p>For a membership fee of $50 a month, our stylists will curate a personalized box containing 3-4 items of brand name and private label clothing &amp; accessories. Shipping is included in your subscription.</p>
            </div>
          </div>
          <div class="sow-features-feature sow-features-feature-last-row">
            <div class="sow-icon-container sow-container-none">
              <span class="sow-icon3"></span>
            </div>
            <div class="textwidget">
              <h5>3. Enjoy Your New Threads</h5>
              <p>Everything in your monthly box is yours to keep! No contracts. Cancel anytime. Best of all, look amazing.</p>
            </div>
          </div>
		</div>
      </div>
    </div>
    <div class="sow-testimonial">
      <div class="sow-testimonial-text">
		<p style="text-align: center">"<em>Whatever the occasion, you guys keep me ready</em>." ♥</p>					</div>
		<div class="sow-testimonial-user">
			<div class="sow-text">
              <strong>Melissa P.</strong>
              <span>Seattle, WA</span>
            </div>
        </div>
	</div>
  </section>