<section id="homepage-clubjoining" class="club-joining">
    <div class="row">
      <h2 class="section-title"><span style="color: #881d1d;">Perks</span> of Joining the <span style="color: #881d1d;">Club</span></h2>
      <div class="section-content">
        <div class="part1">
          <div class="slider">
            <div id="owl-example" class="owl-carousel">
              <div><img src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/Redshirtresize.jpg?6288439400024670528">  </div>
              <div><img src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/NewNightoutfit.jpg?13011395409349077710">  </div>
            </div>
          </div>
          <div class="slider-righttext">
              <h3><strong>Clothing For Every Occasion</strong></h3>
              <h4>Whether it’s for a night out, the office, or the every day; we’ve got you covered. New styles brought in biweekly.</h4>
          </div>
        </div>
        <div class="part2">
          <div class="slider-righttext">
              <h3><strong>Our Stylists Do the Leg Work</strong></h3>
              <h4>We procure the latest styles and trends from small-batch private labels and well known brands. Boutique quality delivered to your doorstep every month.</h4>
          </div>
          <div class="slider">
          	<div id="owl-example1" class="owl-carousel">
              <div><img src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/NewWorkOutfit.jpg?11149116914168343804">  </div>
              <div><img src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/BFjeansResize.jpg?17449234962643979257">  </div>
            </div>
          </div>
        </div>
        <div class="part3">
          <div class="slider">
          	<div id="owl-example3" class="owl-carousel">
              <div><img src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/NewGreenDress.jpg?17342276127680579560">  </div>
              <div><img src="https://cdn.shopify.com/s/files/1/1498/2742/t/5/assets/ShortsResized.jpg?16750060450298504689">  </div>
            </div>
          </div>
          <div class="slider-righttext">
              <h3><strong>Bang for Your Buck</strong></h3>
              <h4>For $50 a month, club members receive $125+ worth of clothing & accessories in every box. One flat price, shipping's on us.</h4>
          </div>
        </div>
      </div>
      <h1>Thousands of Seasonally Inspired Styles. <span style="color: #881d1d;">All for You</span>.</h1>
  </div>
</section>