<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <div class="table-cell">
    <h3>{{ 'cart.general.title' | t }}</h3>
    </div>
    <div class="table-cell">
    <span class="drawer__close js-drawer-close">
        {{ 'cart.general.close_cart' | t  }}
    </span>
    </div>
  </div>
  <div id="CartContainer"></div>
</div>