
<div class="section-title desktop-12 mobile-3 login-bg">
  <h1>Not Found</h1>
</div>

<div class="desktop-12 tablet-6 mobile-3">
  
<!-- <label class="subtext">{{ 'general.404.subtext' | t }}</label>
  
  
  <div id="search-bar">
    <form action="/search" method="get">
      <h3>{{ 'general.search.title' | t }}</h3>
      <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
    </form>
  </div>  
  
  <div class="clear"></div> -->
  <div role="main" class="main kad_404_page">
  <h4 class="sectiontitle">Sorry, but the page you were trying to view does not exist.</h4>

<p>It looks like this was the result of either:</p>
	<ul style="margin-bottom:10px;">
	  <li>a mistyped address</li>
	  <li>an out-of-date link</li>
	  <li>incorrect permalink settings</li>
	</ul>
	<p>You can return back to the site's homepage and see if you can find what you are looking for or use the search form below.</p>
	<div id="search-bar" style="margin-top: 35px;">
    <form action="/search" method="get">
      <input type="text" name="q" id="q" placeholder="Search" />
    </form>
  </div>
</div>
</div>

  {% comment %}  {% include 'collection-listing' %}{% endcomment %}
  

  
