<div class="section-title desktop-8 desktop-push-2 mobile-3">
  <h1>{{ page.title }}</h1>
</div>

<div id="page" class="desktop-8 desktop-push-2 mobile-3">
  <div class="rte">{{ page.content }}</div>
</div>
